body {
    background-color: #5F6062;
    color: black;
    font-family: 'Raleway', sans-serif;

}


/*Navbar and logo*/

.navbar {
    position: sticky;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.9);
}

#logo {
    height: 11vh;
    width: auto;
}

.navbar-brand {
    padding-left: 7%;
}

.navbar-light .nav-item .nav-link{
    color: black;
}

.navbar-light .nav-item:hover .nav-link {
    color: #a40e4c;
}

.navbar-toggler-icon {
    color: black;
}
/*Sections */

.head-text-h1 {
    font-size: 3.9rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: .8px .8px #000000;
}

.head-text-p {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: .5px .5px #000000;

}

ul {
    list-style-type: none;
}
#hours-section {
    margin: 10vh 25% 1vh 25%;
}

#hour {
    text-align: center;
}


#about {
    padding-top: 9vh;
    padding-bottom: 15vh;
}

#featured {
    padding-top: 10vh;
    padding-bottom: 15vh;
}

.card-img-top {
    object-fit: cover;
    height: 60vh;
}

.card-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.card-text {
    color: black;
    text-shadow: 0px 0px #000000;
    font-size: 1.1rem;
}

#menu {
    padding-top: 10vh;
    padding-bottom: 15vh;
}

#menu-contain {
    background-color: white;
}

#menu-row {
    margin-top: 5%;
    padding: 5%;
}

.head {
    text-align: center;
    font-weight: 700;
}

.price {
    font-weight: 700;
}

.menu-ul li {
    margin-top: 5.5%;
    display: flex;
    justify-content: space-between;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/*Circular Images */

.crop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img {
    display: inline;
    margin: 0 -55px;
    height: 100%;
    width: auto;
}

@media only screen and (max-width: 600px) {
    #logo {
        height: 16vh;
        width: auto;
        padding-left: 0;
        margin-left: 0;
    }
    .navbar {
        padding-left: 0;
    }

    #navbar{
        top: 0;
    }
    .navbar-brand {
        padding-left: 0%;
    }
    #about {
        padding-top: 2vh;
        padding-bottom: 15vh;
        text-align: center;
    }
    #featured {
        text-align: center;
    }
    #menu {
        text-align: center;
    }
}